version: '3'

services:

  postgres:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: "common_service"
      POSTGRES_PASSWORD: "123456"
      POSTGRES_USER: "postgres"
      APP_DB_USER: "common_service"
    ports:
      - '54321:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - backend
  
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: thaiviptn1201@gmail.com
      PGADMIN_DEFAULT_PASSWORD: thai1201
    ports:
      - 5050:80
    volumes:
      - ./pgadmin4:/var/lib/pgadmin
    networks:
      - backend

  redis:
    image: redis:6
    ports:
      - '6379:6379'
    volumes:
      - ./redis-data:/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3.8-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./rabbitmq-data/data:/var/lib/rabbitmq
      - ./rabbitmq-data/log:/var/log/rabbitmq
    networks:
      - backend

networks:
  backend:
    driver: bridge
